pkgbase = iana-etc
	pkgdesc = /etc/protocols and /etc/services provided by IANA
	pkgver = 20231117
	pkgrel = 1
	url = https://www.iana.org/protocols
	arch = any
	license = custom:none
	backup = etc/protocols
	backup = etc/services
	source = https://sources.archlinux.org/other/packages/iana-etc/service-names-port-numbers-20231117.xml
	source = https://sources.archlinux.org/other/packages/iana-etc/protocol-numbers-20231107.xml
	source = LICENSE
	sha256sums = 3ccb6b8ab4e43954ce87c9d5d22b96bfb9c46976f6ebfc4b7e2800ff8bb2acb1
	sha256sums = 01aee83ab0efd18d9c92b9497c8eaec454471a9613dbb66b1e859313ea75e68d
	sha256sums = dd37e92942d5a4024f1c77df49d61ca77fc6284691814903a741785df61f78cb

pkgname = iana-etc
