pkgbase = iana-etc
	pkgdesc = /etc/protocols and /etc/services provided by IANA
	pkgver = 20240222
	pkgrel = 1
	url = https://www.iana.org/protocols
	arch = any
	license = custom:none
	backup = etc/protocols
	backup = etc/services
	source = https://sources.archlinux.org/other/packages/iana-etc/service-names-port-numbers-20240222.xml
	source = https://sources.archlinux.org/other/packages/iana-etc/protocol-numbers-20240108.xml
	source = LICENSE
	sha256sums = 929d5704a023365a2e2e6660eee8cc496a2d9f2c84d9f8999fec181411dd2aea
	sha256sums = e64103b5e38f4ad69067f17269bc70b524f7cbf54ec97b7f0292c92f82ced2bd
	sha256sums = dd37e92942d5a4024f1c77df49d61ca77fc6284691814903a741785df61f78cb

pkgname = iana-etc
